<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <title>발주 등록</title>
</head>
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    제품 등록
                </div>
                <div class="card-body">
                    <form action="/product/product-register" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text">제품코드</span>
                            <input type="text" name="pcode" class="form-control" placeholder="제품코드"  />
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">제품 이름</span>
                            <input type="text" name="pname" class="form-control" placeholder="제품명"  />
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">제품 가격</span>
                            <input type="text" name="pprice" class="form-control" placeholder="제품 가격"  />
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">제품 상세정보</span>
                            <input type="text" name="pcontent" class="form-control" placeholder="제품 상세정보"  />
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">등록일자</span>
                            <input th:value="|${now}|" type="text" name="regdate" class="form-control" readonly />
                        </div>
                        <div class="my-4">
                            <div class="float-end">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">

    const errors = [[${errors}]]
    console.log(errors);

    let errorMsg=''

    if (errors) {
        for (let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        alert(errorMsg)
    }

    const result = [[${result}]];

    const modal = new bootstrap.Modal(document.querySelector(".modal"))


    if (result) {
        modal.show()
    }
</script>
</html>