<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <title>발주 등록</title>
</head>
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    발주 등록
                </div>
                <div class="card-body">
                    <form action="/order1/order-register" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text">품목이름</span>
                            <input type="text" name="pName" class="form-control" placeholder="품목이름" />
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">발주일자</span>
                            <input type="date" name="orderDate" class="form-control" placeholder="발주일자"/>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"> 진척도</span>
                            <input type="text" name="orderProgress" class="form-control" placeholder="진척도"/>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">발주수량</span>
                            <input type="text" name="orderCount" class="form-control" placeholder="발주수량"/>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">단가</span>
                            <input type="text" name="orderPrice" class="form-control" placeholder="단가"/>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">발주상태</span>
                            <select class="form-select" name="orderState">
                                <option value="진행중">진행중</option>
                                <option value="완료">완료</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">담당자</span>
                            <input type="text" name="orderManager" class="form-control" placeholder="담당자"/>
                        </div>
                        <div class="my-4">
                            <div class="float-end">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">

    const errors = [[${errors}]]
    console.log(errors);

    let errorMsg=''

    if (errors) {
        for (let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        alert(errorMsg)
    }

    const result = [[${result}]];

    const modal = new bootstrap.Modal(document.querySelector(".modal"))


    if (result) {
        modal.show()
    }
</script>
</html>